<%- include ./include/header.ejs %>
<%- include ./include/nav.ejs %>

<button class="autoplay hidden"><span class="auto_stop hidden">&#x025FC;</span><span class="auto_play hidden">&#9658;</span>AUTOPLAY</button>

<div class="disable hidden"></div>

<main>

    <div class="inner">

    <section id="main-content">
        <h1>WE ARE OFFLINE!</h1>
        <p>You are offline. Please try again if you have internet! Some pages are cached, so check with page you can visit!</p>
        <hr>
    	<p>We live in a time where passwords are weak and information is priceless. It is important to have a healty workflow and be safe and secure.</p>
    	<p>Slacksafe is a simple and effective way to screen all your Slack teams. You can inform them about their stolen data. After the screening is done.</p>
		<p>Within seconds you can see witch teams are safe, and witch are not.</p>
    </section>

    </div>
</main>

<%- include ./include/footer.ejs %>