<%- include ./include/header.ejs %>
<%- include ./include/nav.ejs %>

<button class="autoplay hidden"><span class="auto_stop hidden">&#x025FC;</span><span class="auto_play hidden">&#9658;</span>AUTOPLAY</button>

<div class="disable hidden"></div>

<main>

    <div class="inner">

    <section id="main-content">
        <h1>WE ARE OFFLINE!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium non quia explicabo, aliquam sit, dolorem fuga libero minus sint, magni modi adipisci omnis voluptate illo perspiciatis earum aperiam neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium non quia explicabo, aliquam sit, dolorem fuga libero minus sint, magni modi adipisci omnis voluptate illo perspiciatis earum aperiam neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium non quia explicabo, aliquam sit, dolorem fuga libero minus sint, magni modi adipisci omnis voluptate illo perspiciatis earum aperiam neque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore laudantium non quia explicabo, aliquam sit, dolorem fuga libero minus sint, magni modi adipisci omnis voluptate illo perspiciatis earum aperiam neque.</p>
    </section>

    </div>
</main>

<%- include ./include/footer.ejs %>