    <script src="/dist/js/bundle.min.js"></script>
    <script>
	    // if('serviceWorker' in navigator){
	    //     navigator.serviceWorker.register('/sw.js',{
	    //         scope : '/assets'
	    //     })
	    // }

	    if (navigator.serviceWorker) {
	        navigator.serviceWorker.register('/sw.js').then(function(registration) {
	            console.log('ServiceWorker registration successful with scope:', registration.scope);
	        }).catch(function(error) {
	            console.log('ServiceWorker registration failed:', error);
	        });
	    }
    </script>

</body>
</html>